<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-blue-600">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">

          <img class="h-12 inline-block mr-4 mb-2" src="../../assets/logo1.png" alt="Logo">
        <a class=" text-4xl font-bold leading-relaxed inline-block mr-4 text-roboto whitespace-no-wrap uppercase text-white" [routerLink]="['/home']">
          KICKIPLUME
        </a>
        <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
          <span class="block relative w-6 h-px rounded-sm bg-white"></span>
          <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
          <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
        </button>
      </div>
      <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
        <ul class="flex flex-col lg:flex-row list-none ml-auto">
            <li class="nav-item">
              <a [routerLink]="['/home']"  class="px-3 py-2 flex items-center text-lg uppercase font-bold leading-snug text-white hover:opacity-75">
                Accueil
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/result']" class="px-3 py-2 flex items-center text-lg uppercase font-bold leading-snug text-white hover:opacity-75" >
                Résultats
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/ranking']" class="px-3 py-2 flex items-center text-lg uppercase font-bold leading-snug text-white hover:opacity-75" >
                Classement
              </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/match']" class="px-3 py-2 flex items-center text-lg uppercase font-bold leading-snug text-white hover:opacity-75" >
                    Match
                </a>
            </li>
<!--
            <li class="nav-item">
              <a [routerLink]="['/infos']" class="px-3 py-2 flex items-center text-lg uppercase font-bold leading-snug text-white hover:opacity-75">
                  Infos
              </a>
          </li>

            <li class="nav-item">
                <a [routerLink]="['/login']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
                    Log In
                </a>
            </li>-->
        </ul>
      </div>
    </div>
  </nav>