<div class="container mx-auto py-2">
    <div class="flex w-full border rounded shadow-medium mb-2 ">
        <img class="w-full h-96" src="../../assets/pic.png" alt="">
    </div>

    <div class="flex w-full">
        <div class="w-2/3 p-4  h-120  mr-2 border rounded shadow-medium ">
            <p style="text-align: center;" class="font-bold text-5xl my-4">LES PLUMES DU DOULIEU</p>

            <p class="my-2 text-xl" style="text-align: center;">Si pour vous le plaisir de jouer au badminton est le
                plus important, vous trouverez dans le club un espace de plaisirs et de loisirs tout en ayant la
                possibilité de progresser grâce à des entrainements encadrés.Notre club tourne autour de ses trois
                valeurs.</p>
            <div class="flex w-full mt-12">
                <div class="w-1/3 "><img class=" h-48 mx-auto" src="../../assets/pic2.png" alt="">
                    <p style="text-align: center;" class="text-3xl">Partage</p>
                </div>
                <div class="w-1/3 "><img class=" h-48 mx-auto" src="../../assets/pic3.png" alt="">
                    <p style="text-align: center;" class="text-3xl">Dépassement de soi</p>
                </div>
                <div class="w-1/3 "><img class=" h-48 mx-auto" src="../../assets/pic5.png" alt="">
                    <p style="text-align: center;" class="text-3xl">Esprit d'équipe</p>
                </div>
            </div>
        </div>

        <div class="w-1/3  border rounded shadow-medium">
            <p class="my-4 mx-4 font-bold text-2xl" style="text-align: center;">Lieu d'entrainement

            </p>
            <p class="my-4 mx-4 text-xl" style="text-align: center;">Rue de l'Église, 59940, Le Doulieu</p>
            <div class="mx-4 my-4" style="height: 400px;">
                <iframe class="w-full h-full" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=2.715532779693604%2C50.68168940344251%2C2.7190732955932617%2C50.68316116738487&amp;layer=mapnik&amp;marker=50.682425291183726%2C2.7173030376434326"
                    style="border: 1px solid black"></iframe><br />
                <!--<small><a
                href="https://www.openstreetmap.org/?mlat=50.68243&amp;mlon=2.71730#map=19/50.68243/2.71730">Afficher
                une carte plus grande</a></small>-->
            </div>
        </div>
    </div>
    <div class="flex w-full">
        <div class="w-2/3  my-2 mr-2 border rounded shadow-medium" style="height: 100px;">
            <p class="w-full my-4 mx-4 font-bold text-2xl" style="text-align: center;">Contacts</p>

               

        </div>
        <div class="w-1/3  my-2  border rounded shadow-medium" style="height: 200px;">
            <p class="w-full my-4 mx-4 font-bold text-2xl" style="text-align: center;">Horaire des entrainements</p>

            <p class="my-8 mx-4 text-xl" style="text-align: center;">LUNDI : 19h45-21h45 <br />
                JEUDI : 19h30-21h30
            </p>
        </div>

    </div>
</div>