<div class="container mx-auto w-1/2 rounded shadow-medium mt-8 pt-48" style="height: 800px;">
    <div class="w-full bg-grey">
        <div class="container mx-auto lg:w-1/2  border rounded shadow-medium">
            <div class="mx-auto">
                <div class="py-4 px-8 text-black text-xl ">Inscription</div>
                <div class="py-4 px-8">
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email</label>
                        <input [(ngModel)]="email"
                            class="appearance-none border rounded w-full py-2 px-3  text-gray-700 bg-gray-300" id="email"
                            type="email" placeholder="Ton adresse Email">
                    </div>
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Mot de passe</label>
                        <input [(ngModel)]="password"
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-gray-300" id="password"
                            type="password" placeholder="Ton mot de passe">
                        <p class="text-grey text-xs mt-1">Au moins 6 charactères</p>
                    </div>
                    <div class="flex items-center justify-between mt-8">
                        <button (click)="onClick()"
                            class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded">Valider</button>
                    </div>
                </div>
            </div>
            <p class="text-center my-4">
                <a [routerLink]="['/login']" class="text-grey-dark text-sm no-underline hover:text-grey-darker">J'ai
                    déjà un compte</a>
            </p>
        </div>
    </div>
</div>